{{ template "header.html" "Add Photos to Album" }}

<h2>Add photos to {{ .album.Name }}</h2>

<style>
  .previewImage {
    max-width: 300px;
    max-height: 150px;
    margin: 0.25em;
  }

  .imageSelectorContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
</style>

<form action="/admin/albums/{{ .album.Slug }}/add" method="post">
    <div class='imageSelectorContainer'>
        {{ range .files }}
        <div id="file-{{ .ImageId }}">
            <img class="previewImage" src="{{ .PublicURL }}" onclick="onPhotoClick('{{ .ImageId }}')" />
            
            <br />
            <input id="{{ .ImageId }}" type="checkbox" name="images" value="{{ .ImageId }}">
            Add to album
            </input>
        </div>
        {{ end }}
    </div>

    <div class="neighbored-top centered">
      <button type="submit" class="button">Add to album</button>
    </div>
</form>

<script>
  function onPhotoClick(photoId) {
    const checkbox = document.getElementById(photoId)
    checkbox.checked = !checkbox.checked;
  }
</script>

{{ template "footer.html" . }}
