{{ template "header.html" . }}

<h2>Add photos to {{ .album.Name }}</h2>

<style>
  .previewImage {
    max-width: 300px;
    max-height: 150px;
  }

  .imageSelectorContainer {
      display: flex;
      flex-wrap: wrap;
  }
</style>

<form target="/admin/albums/{{ .album.Slug }}/add" method="post">
    <div class='imageSelectorContainer'>
        {{ range .files }}
        <div id="file-{{ .ImageId }}">
            <img class="previewImage" src="{{ .PublicURL }}" />
            
            <br />
            <input type="checkbox" name="images" value="{{ .ImageId }}">
            Add to album
            </input>
        </div>
        {{ end }}
    </div>

    <button type="submit">Add to album</button>
</form>

{{ template "footer.html" . }}
