{{ template "header.html" "Admin Dashboard" }}

<h1>Admin Dashboard</h1>

<div class="flex">
  <a class="button neighbored-right" href="/admin/upload">Upload Images</a>
  <a class="button neighbored-right" href="/admin/import">Import Uploaded Images</a>
</div>

<div class="flex" style="margin-top: 20px">
  <a class="button neighbored-right" href="/admin/albums">Albums</a>

  <form class="invisibleForm neighbored-right" method="post" action="/admin/albums">
    <button class="button" type="submit">Add new album</button>
  </form>
</div>

{{ template "footer.html" . }}
