{{ template "header.html" "Admin Dashboard" }}

<h1>Admin Dashboard</h1>

<div class="flex">
  <a class="button neighbored-right" href="/admin/upload">Upload Images</a>
  <a class="button neighbored-right" href="/admin/import">Import Uploaded Images</a>
</div>

<div class="flex neighbored-top">
  <a class="button neighbored-right" href="/admin/albums">Albums</a>

  <form class="invisibleForm neighbored-right" method="post" action="/admin/albums">
    <button class="button" type="submit">Add new album</button>
  </form>
</div>

<form class="invisibleForm neighbored-top" method="post" action="/logout">
  <button class="button" type="submit">Log out</button>
</form>
{{ template "footer.html" . }}
