<style>
  .streamLink {
    margin: 0px;
    line-height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .streamImage {
    margin: 0px;
    max-width: 400px;
  }
  .streamContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin-left: auto;
    margin-right: auto;
  }
</style>

<div class="streamContainer">
  {{ range . }}
  <a href="/album/{{ .Slug }}" class="streamLink">
    <img class="streamImage" src="{{ .PublicURL }}" />
    <div>{{ .Name }}</div>
  </a>
  {{ end }}
</div>
