{{ template "header.html" "Edit Album" }}

<h2>Edit Album {{ .album.Name }}</h2>

<form action="/admin/albums/{{ .album.Slug }}" method="post">
  <label for="name">Album Name</label>
  <input type="text" name="name" value="{{ .album.Name }}" />

  <br />

  <label for="name">URL Slug</label>
  <input type="text" name="slug" value="{{ .album.Slug }}" />

  <br />

  <label for="description">Album Description</label>
  <input type="text" name="description" value="{{ .album.Description }}" />

  <br />

  <label for="description">Publish Album?</label>
  <input
    type="checkbox"
    name="is_published"
    {{if
    .album.IsPublished
    }}checked{{end}}
  />

  <br />
  <button type="submit">Update</button>
</form>

<style>
  .previewImage {
    max-width: 300px;
    max-height: 300px;
  }
</style>

{{ range .files }}
<div id="file-{{ .ImageId }}">
  <a href="/image/{{ .ImageId }}">
    <img class="previewImage" src="{{ .PublicURL }}" />
  </a>

  <br />
  <button
    hx-delete="/admin/albums/{{ $.album.Slug }}/{{ .ImageId }}"
    hx-target="#file-{{ .ImageId }}"
  >
    Remove from album
  </button>
</div>
{{ end }}

<a href="/admin/albums/{{ $.album.Slug }}/add"> Add to Album </a>

<form method="post" action="/admin/albums/{{ .album.Slug }}/delete">
  <button type="submit">Delete Album</button>
</form>

{{ template "footer.html" . }}
