<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <title>{{ . }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://releases.transloadit.com/uppy/v2.3.1/uppy.min.css"
      rel="stylesheet"
    />

    <link
      href="/static/style.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/blueimp-gallery.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet"> 
        
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <!-- <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script> -->
    
  </head>

  <body>
    <div class="container">
      <div class="headerMenu">
        <a href="/">Latest</a>
        <a href="/albums">Albums</a>
      </div>
    