{{ template "header.html" "Photo" }}

<style>
  .image {
    max-width: 100%;
    max-height: 80vh;
  }
  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin-left: auto;
    margin-right: auto;
  }
</style>

<div class="imageContainer">
  <img
    class="image"
    src="{{ .smallestFile.PublicURL }}"
    srcset="{{ .srcSet }}"
  />
</div>

{{ if .isAdmin }}
<form
  id="deleteImageForm"
  class="hiddenForm neighbored-top"
  method="post"
  action="/admin/images/{{ .smallestFile.ImageId }}/delete"
></form>

<button class="button negative" onclick="onDeleteClick()">Delete Image</button>

<script>
  function onDeleteClick(e) {
    const confirmed = confirm("Are you sure you want to delete this image?");

    if (confirmed) {
      const form = document.getElementById("deleteImageForm");
      form.submit();
    }
  }
</script>
{{ end }} {{ template "footer.html" . }}
