{{ template "header.html" "Import Photos" }}

<h2>{{ .header }}</h2>

<style>
  .checkboxGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
</style>

<form method="post" action="/admin/import">
  <div class="frame neighbored-bottom">
    <div class="font-bold neighbored-bottom">Select photos to upload:</div>

    <div class="checkboxGrid">

      {{ range $index, $fname := .files }}
      <div>
        <input type="checkbox" name="names" value="{{ $fname }}" checked>{{ $fname }}</input>
      </div>
      {{ end }}
    </div>
  </div>

  <div class="frame neighbored-bottom">
    {{ if .hasError }}
      <div class="error">{{ .error }}</div>
    {{ end }}

    <input id="addToAlbumCheckbox" type="checkbox" name="addToAlbum"  onchange="onAddToAlbumCheckboxChange()">
      Add photos to album
    </input>

    <div class="indented">
      <input id="newAlbumRadio" type="radio" name="albumSelection" value="new" disabled="true">
        New Album: 
      </input>

      <input id="newAlbumInput" type="text" name="newAlbumName" disabled="true" />
    </div>

    {{ if .hasAlbums }}

      <div class="indented">
        <input id="existingAlbumRadio" type="radio" name="albumSelection" value="existing" disabled="true">
          Existing Album
        </input>

        <select id="existingAlbumNameSelect" name="existingAlbumId" disabled="true">
          {{ range .albums }}
          <option value="{{ .AlbumId }}">
            {{ .Name }}
          </option>
          {{ end }}
        </select>
      </div>

    {{ end }}
    </div>

  <div class="centered">
    <button type="submit" class="button">Import Photos</button>
  </div>
</form>

<script>
  
  function onAddToAlbumCheckboxChange(e) {
    const checked = document.getElementById("addToAlbumCheckbox").checked

    if (checked) {
      document.getElementById("newAlbumRadio").disabled = false;
      document.getElementById("newAlbumInput").disabled = false;

      if (document.getElementById("existingAlbumRadio")) {
        document.getElementById("existingAlbumRadio").disabled = false;
        document.getElementById("existingAlbumNameSelect").disabled = false;
      }
    } else {
      document.getElementById("newAlbumRadio").disabled = true;
      document.getElementById("newAlbumInput").disabled = true;

      if (document.getElementById("existingAlbumRadio")) {
        document.getElementById("existingAlbumRadio").disabled = true;
        document.getElementById("existingAlbumNameSelect").disabled = true;
      }
    }
  }

</script>

{{ template "footer.html" . }}
