<style>
  .grid {
    width: 100%;
  }

  /* clear fix */
  .grid:after {
    content: "";
    display: block;
    clear: both;
  }

  /* ---- .grid-item ---- */

  .grid-sizer,
  .grid-item {
    width: calc(100% - 5px);
  }

  @media screen and (min-width: 400px) {
    .grid-sizer,
    .grid-item {
      width: calc(50% - 5px);
    }
  }

  @media screen and (min-width: 1000px) {
    .grid-sizer,
    .grid-item {
      width: calc(33.33% - 5px);
    }
  }

  .grid-item {
    float: left;
    margin-bottom: 5px;
  }

  .grid-item img {
    display: block;
    max-width: 100%;
  }
</style>

<div class="grid">
  <div class="grid-sizer"></div>

  {{ range . }}
  <div class="grid-item" style="aspect-ratio: {{ .Width }} / {{ .Height }};">
    <a href="/image/{{ .ImageId }}" class="streamLink">
      <img src="{{ .PublicURL }}" />
    </a>
  </div>
  {{ end }}
</div>

<script>
  var grid = document.querySelector(".grid");

  var msnry = new Masonry(grid, {
    itemSelector: ".grid-item",
    columnWidth: ".grid-sizer",
    percentPosition: true,
    gutter: 5,
  });

  window.onload = function () {
    msnry.layout();
  };
  imagesLoaded(grid).on("progress", function () {
    msnry.layout();
  });
</script>
