<style>
  .grid {
    width: 100%;
  }

  /* clear fix */
  .grid:after {
    content: "";
    display: block;
    clear: both;
  }

  /* ---- .grid-item ---- */

  .grid-sizer,
  .grid-item {
    width: calc(100% - 5px);
  }

  @media screen and (min-width: 400px) {
    .grid-sizer,
    .grid-item {
      width: calc(50% - 5px);
    }
  }

  @media screen and (min-width: 1000px) {
    .grid-sizer,
    .grid-item {
      width: calc(33.33% - 5px);
    }
  }

  .grid-item {
    float: left;
    margin-bottom: 5px;
  }

  .grid-item img {
    display: block;
    max-width: 100%;
  }

  /* Additional description style */
  .blueimp-gallery > .description {
    position: absolute;
    top: 30px;
    left: 15px;
    color: #fff;
    display: none;
  }
  .blueimp-gallery-controls > .description {
    display: block;
  }
</style>

<div class="grid" id="links">
  <div class="grid-sizer"></div>

  {{ range . }}
  <div class="grid-item" style="aspect-ratio: {{ .Width }} / {{ .Height }};">
    <a href="{{ .SmallImageUrl }}" class="streamLink" title="Hi">
      <img src="{{ .SmallImageUrl }}" />
    </a>
  </div>
  {{ end }}
</div>

<!-- The Gallery as lightbox dialog, should be a document body child element -->
<div
  id="blueimp-gallery"
  class="blueimp-gallery"
  aria-label="image gallery"
  aria-modal="true"
  role="dialog"
>
  <div class="slides" aria-live="polite"></div>
  <a class="title"></a>
  <p class="description"></p>
  <a
    class="prev"
    aria-controls="blueimp-gallery"
    aria-label="previous slide"
    aria-keyshortcuts="ArrowLeft"
  ></a>
  <a
    class="next"
    aria-controls="blueimp-gallery"
    aria-label="next slide"
    aria-keyshortcuts="ArrowRight"
  ></a>
  <a
    class="close"
    aria-controls="blueimp-gallery"
    aria-label="close"
    aria-keyshortcuts="Escape"
  ></a>
  <a
    class="play-pause"
    aria-controls="blueimp-gallery"
    aria-label="play slideshow"
    aria-keyshortcuts="Space"
    aria-pressed="false"
    role="button"
  ></a>
  <ol class="indicator"></ol>
</div>

<script>
  var grid = document.querySelector(".grid");

  var msnry = new Masonry(grid, {
    itemSelector: ".grid-item",
    columnWidth: ".grid-sizer",
    percentPosition: true,
    gutter: 5,
  });

  window.onload = function () {
    msnry.layout();
  };
  imagesLoaded(grid).on("progress", function () {
    msnry.layout();
  });
</script>

<script src="/static/js/blueimp-gallery.min.js"></script>
<script>
  const images = [
    {{ range . }}
      {
        title: "{{ .Title }}",
        detailUrl: "/image/{{ .ImageId }}",
        description: "{{ .Description }}",
        href: "{{ .SmallImageUrl }}",
        srcset: "{{ .SrcSet }}",
        thumbnail: "{{ .SmallImageUrl }}"
      },
    {{ end }}
  ];

  document.getElementById("links").onclick = function (event) {
    event = event || window.event;

    const target = event.target || event.srcElement
    const link = target.src ? target.parentNode : target
    const options = {
      index: link,
      event: event,
      preloadRange: 1,
      onslide: function (index, slide) {
        const image = images[index];

        const titleNode = this.container.find('.title')[0];
        titleNode.href = image.detailUrl;
        titleNode.innerText = image.title;

        const descriptionNode = this.container.find('.description');
        const descriptionText = image.description;

        descriptionNode.empty();

        if (descriptionText) {
          descriptionNode[0].appendChild(document.createTextNode(descriptionText));
        }
      }
     }

    blueimp.Gallery(images, options);
  };
</script>
