{{ template "header.html" "Upload Photos" }}

<div class="flex centered flex-column">
  <div id="drag-drop-area" style="width: 500px; height: 450px"></div>

  <div style="margin-top: 2em" class="centered">
    <a id="nextLink" href="/admin/import" class="button hidden"
      >Import photos</a
    >
  </div>
</div>

<script src="https://releases.transloadit.com/uppy/v2.3.1/uppy.min.js"></script>
<script>
  var uppy = new Uppy.Core()
    .use(Uppy.Dashboard, {
      inline: true,
      target: "#drag-drop-area",
      width: 500,
      height: 450,
    })
    .use(Uppy.AwsS3, {
      getUploadParameters(file) {
        // Send a request to our PHP signing endpoint.
        return fetch("/admin/upload/sign", {
          method: "post",
          // Send and receive JSON.
          headers: {
            accept: "application/json",
            "content-type": "application/json",
          },
          body: JSON.stringify({
            filename: file.name,
            contentType: file.type,
          }),
        })
          .then((response) => {
            // Parse the JSON response.
            return response.json();
          })
          .then((data) => {
            // Return an object in the correct shape.
            return {
              method: data.method,
              url: data.url,
              fields: data.fields,
              // Provide content type header required by S3
              headers: {
                "Content-Type": file.type,
              },
            };
          });
      },
    });

  uppy.on("complete", (result) => {
    document.getElementById("nextLink").setAttribute("class", "button");

    console.log(
      "Upload complete! We’ve uploaded these files:",
      result.successful
    );
  });
</script>

{{ template "footer.html" . }}
